.bg{
    background-image: url(./assets/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.bg1{
    background-image: url(./assets/bg1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}